doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js')
        script(src='/javascripts/sController.js')

        meta(name="viewport", content="width=device-width, user-scalable=no")
    body
        div.wrap
            div.logo
                h1 s
            div.form(ng-app="sApp")
                form
                    div
                        div.input-grp
                            input.long_url(type="text", placeholder="Enter long URL", ng-model="long_url", ng-keyup="$event.keyCode == 13 ? shorten(long_url) : null", required, autofocus, class="long-field")
                            input(type="button", value="Shorten", toggle-btn)
            div.about
                p
                    i s
                    |  is a high-performance, anonymous URL shortener. 
                    a(href="https://github.com/karan/s") Open source project
                    |  by 
                    a(href="https://www.goel.im") Karan Goel
                    | .
