doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js')
    script(src='/javascripts/sController.js')
  body
    block content
