@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic,400,800,700);
@import url(http://fonts.googleapis.com/css?family=Sonsie+One);

body {
    font: 14px "Open san", Helvetica, Arial, sans-serif;
    height: 100%;
    text-align: center;
    color: #fff;
}

a {
    color: #eee;
    padding: 3px 1px;
}

a:hover {
    color: #fff;
    background-color: #0074D9;
}

.logo {
    margin: 20px auto;
}

h1 {
    font-family: 'Sonsie One', 'Open sans', Helvetica, Arial, sans-serif;
    margin: 10% auto;
    font-size: 12em;
    font-style: italic;
    margin: 0px auto 5% auto;
}

.wrap {
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(#0074D9, #001F3F);
    background: radial-gradient(#0074D9, #001F3F);
    overflow: hidden;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.form {
    width: 50%;
    top: 50%;
    height: 30%;
    margin-left: 25%;
}

input[type="url"] {
    font-size: 16px;
    letter-spacing: 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 80%;
    height: 40px;
    float: left;
    border: 0;
    color: #fff;
    background: rgba(0,0,0,.1);
    padding: 10px;
    outline: 0px;
    box-shadow: 0 1px 0 rgba(255,255,255,.15), 0 2px 4px rgba(0,0,0,.2) inset, 0 0 12px rgba(255,255,255,.1);
}

input.long_url {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

input:focus {
    border: 1px solid #51cbee;
}

input[type="button"] {
    height: 40px;
    width: 20%;
    cursor: pointer;
    margin: 0;
    border: 0;
    padding: 6px 12px;
    text-shadow: 0 1px #DDD;
    font-size: 16px;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: #00284f;
    color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

input[type="button"]:hover {
    background-color: #000001;
    border-color: #00284f;
    color: #fff;
}

input[type="button"]:disabled {
    background-color: #00284f;
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-100px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-100px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.error-block {
    width: 50%;
    margin: 0px auto;
    padding: 10px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    border-radius: 8px;
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    -webkit-transform: translateY(-100px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-100px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}
